/*
 * main.css - Reglas principales de la aplicación
 *
 * Copyright 2013 Felipe Peñailillo <breadmaker@radiognu.org>
 *                William Cabrera   <cabrerawilliam@gmail.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 *
 */

body { cursor: default; }

.page {
    height: 100%;
    color: #fff;
}

#app, #player-top { height: 100%; }

#app { background: #202020; }

#cover {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.quality-0 {
    -webkit-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
}

.quality-1 {
    -webkit-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}

#player-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(40, 40, 40, 0.7);
    z-index: 2;
    padding-bottom: 40px;
}

#player-info {
    text-align:left;
    padding: 3px;
}

h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h2 { font-weight: normal; }

h3, h4 { font-weight: bold; }

#title {
    font-size: 1.6rem;
    line-height: 2rem;
}

#artist {
    font-size: 1.17rem;
    line-height: 1.7rem;
}

#album, #license { font-size: 1rem; }

#album { line-height: 1.7rem; }

#license { line-height: 1.5rem; }

#player-player {
    color: #fff;
    font-size: 6rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.u5p-volume-slider {
    display: block;
    margin: -7px auto 7px auto;
    width: 80%;
    position: relative;
    z-index: 999
}

.info {
    display: inline-block;
    position: relative;
    z-index: 10;
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(32, 32, 32, .8)!important;
    color: #eee;
    border: 1px solid #444;
}

#indicators {
    position: absolute;
    top: 0;
    width: 100%;
}

#status {
    padding: 2px 4px 1px 4px;
    margin-right: 0;
    margin-bottom: 0;
}

#listeners {
    padding: 2px 4px 1px 5px;
    margin-left: 0;
}

#live {
    margin-left: 0;
    padding: 2px 1.5em 1px 4px;
    line-height: 20px;
    background: url(../img/led-off.png) no-repeat center right;
}

#live.in { background-image: url(../img/led-on.png); }

#menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 3;
    opacity: .9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.menu-item {
    width: 33.33333333333%;
    float: left;
    background: #111;
    color: #ddd;
}

.menu-item.active {
    background: #444;
    color: #fff;
    text-shadow: 0 1px #000;
}

.menu-item a {
    padding: 10px 7px!important;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-item a:focus { background-color: #444!important; }

.menu-item a:hover { background: #555!important; }

#catalog-wrapper {
    margin: 55px 0 40px;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
}

#catalog-page #omnisearch { padding: 7px 10px; }

#catalog-page .form-horizontal .form-group { margin: 0; }

#catalog-page .has-feedback .form-control { padding: 2px 30px 0 8px; }

#catalog-page .form-horizontal .has-feedback .form-control-feedback {
    color: #777;
    right: 2px;
    width: 30px;
}

#catalog-page #omnisearch #omnisearch-backspace-click-space {
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 2px;
    width: 30px;
    height: 32px;
}

#loading-catalog-container {
    display: table;
    width: 100%;
    height: 100%;
}

#loading-catalog-message {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.album-info {
    padding: 8px 10px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.album-info:not(.collapsed) { background: #3d3d3d; }

.album-info:not(:last-child) { border-bottom: 1px solid #eee; }

.album-songs {
    padding: 3px 0 0 5px;
    margin-bottom: 5px;
    background: #3d3d3d;
}

.album-artist:not(:last-child):after { content: ", "; }

.song {
    padding: 7px;
    position: relative;
}

.song:not(:last-child) { border-bottom: 1px solid #aaa; }

.catalog-preview-progress {
    background: #667;
    width: 0%;
    content: ' ';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: width linear 100ms;
    -o-transition: width linear 100ms;
    transition: width linear 100ms;
}

.catalog-song-title { position: relative; }

.song .btn-group { margin-top: -3px; }

.song .btn {
    padding: 0 5px;
    font-size: 16px;
}

.song .btn.disabled {
    padding: 0 4px;
}

.song .btn i.icon-preview-play {
    position: relative;
    top: 1px;
}

.song .btn i.icon-preview-stop {
    font-size: 14px;
}

#config-error { margin: 15px 15px 20px 15px; }

#config-wrapper {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    height: auto;
    margin: 0 0 40px 0;
    width: 100%;
}

#config-page select {
    width: auto;
}

#about-modal .modal-body { padding-bottom: 17px; }

#about-modal p { margin-top: 5px; }

#about-modal hr { margin: 3px 0 15px 0; }

#about-modal .modal-body p:last-child,
#about-modal .panel-body p:last-child { margin-bottom: 0; }

#about-modal .list-group, #about-modal .panel { margin: 7px 0 15px 0; }

#about-modal .list-group-item, #about-modal .panel-heading { padding: 4px 15px; }

#about-modal .panel-body { padding: 10px 15px; }

#about-modal .panel-body i {
    text-align: justify;
    display: block;
}

#about-modal .panel-body p:first-child { margin-top: 0; }

#about-modal .panel-body p { margin-bottom: 5px; }

.vertical-aligned-wrapper { display: table; }

.vertical-aligned-container {
    display: table-cell;
    vertical-align: middle;
}

#about-modal .list-group-item .vertical-aligned-wrapper { height: 34px; }

#about-modal .panel-heading .vertical-aligned-wrapper { height: 30px; }

#about-buttons { margin-top: 5px; }

#about-buttons .btn { margin-bottom: 3px; }

#love-message {
    margin-top: 9px;
    opacity: .75;
}

/* Sobreescribiendo reglas para bootstrap */

.progress {
    height: 6px;
    margin-bottom: 7px;
}

.progress.active .progress-bar {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.progress-striped .progress-bar {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

@-webkit-keyframes progress-bar-stripes {
    from { background-position: 0 0; } to { background-position: 40px 0; }
}

@-moz-keyframes progress-bar-stripes {
    from { background-position: 0 0; } to { background-position: 40px 0; }
}

@-o-keyframes progress-bar-stripes {
    from { background-position: 40px 0; } to { background-position: 0 0; }
}

@keyframes progress-bar-stripes {
    from { background-position: 0 0; } to { background-position: 40px 0; }
}

.panel { background: none; }

.panel:last-child { margin-bottom: 0; }

.list-group-item { background: inherit; }

.modal-header .close {
    margin-top: -5px;
    margin-right: -10px;
    padding: 5px 10px;
}

.modal-footer {
    margin-top: 0;
    padding: 14px 20px 15px;
}

/* Sobreescribiendo reglas para noUiSlider */

.noUi-handle {
    width: 20px!important;
    left: -10px!important;
}

.noUi-handle:after { left: 10px!important; }

.noUi-handle:before { left: 7px!important; }

/* Colores de iconos */

.icon-firefox { color: #e66000; }

.icon-bitbucket { color: #205081; }

.icon-radiognu { color: #5353ff; }

/* Reglas para typeahead.js */

.twitter-typeahead { width: 100%; }

.tt-dropdown-menu {
    width: 100%;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #333;
    padding: 10px;
}

.tt-dropdown-menu h5 {
    margin: 0;
    font-weight: bold;
}

.tt-dropdown-menu hr { margin: 3px 0 7px 0; }

.tt-suggestion { padding: 3px 0; }

.tt-suggestion.tt-cursor { background: #eee; }

/* Previene el borde de puntos al seleccionar un elemento de .menu-item en Firefox */

:focus { outline: 0 !important; }

::-moz-focus-inner { border: 0 !important; }

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #555;
}
