/*
 * universal-html5-audio.css -- Reglas para el Reproductor Universal HTML5
 *
 * Copyright 2013 Felipe Peñailillo <breadmaker@radiognu.org>
 *                William Cabrera   <cabrerawilliam@gmail.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 *
 */

#u5p-html5-player { display: none; }

.u5p-play {
    line-height: 1em;
    cursor: pointer;
}

#u5p-volume-slider {
    margin: 20px;
}
